<!DOCTYPE html>
<html>
<head>
<title>Sign Up</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="front-end/css/registration.css" rel="stylesheet" type="text/css" media="all" />
<link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
</head>

<body>
	<div class="main-w3layouts wrapper">
		<h1>Smart Home Sign Up FORM</h1>
		<div class="main-agileinfo">
			<div class="agileits-top">
				{{ form_start(form) }}
        
                  {{ form_widget(form.username,{'attr' : {'class' :'text','placeholder': 'Username' } })}}<br>
                  {{ form_widget(form.email,{'attr' : {'class' :'text','placeholder': 'Email' } })}}<br>
                  {{ form_widget(form.plainPassword.first,{'attr' : {'class' :'text','placeholder': 'Password' } })}}<br>
                  {{ form_widget(form.plainPassword.second,{'attr' : {'class' :'text','placeholder': 'Confirm Password' } })}}<br>
					<div class="wthree-text">
						<label class="anim">
							<input type="checkbox" class="checkbox" required="">
							<span>I Agree To The Terms & Conditions</span>
						</label>
						<div class="clear"> </div>
					</div>
					<input type="submit" value="SIGNUP">
			{{ form_end(form) }}
				
			</div>
		</div>
		<div class="colorlibcopy-agile">
			<p>© 2019 Smart Home </p>
		</div>
		<ul class="colorlib-bubbles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
</body>
</html>
   

